@{
    ViewData["Title"] = "Sign in";
}
@model learnify.Models.User;

<div class="container sign-in-container">
    <div class="login-header">
        <h2 class="text-center">Sign in to your account</h2>
        <p class="text-center">Or <span><a class="text-decoration-underline text-secondary fw-medium" asp-controller="User" asp-action="RegisterForm">sign up for a new account</a></span></p>
    </div>
    <div class="form-container w-75 m-auto outlined">
        @if(TempData["NoSession"] != null){
            <div id="alert-dialog" class="w-50 m-auto alert alert-danger">@TempData["NoSession"]</div>
        }
        @if (TempData["Error"] != null)
        {
            <div id="alert-dialog" class="w-50 m-auto alert alert-danger">@TempData["Error"]</div>
        }
        @if (TempData["NotLoggedIn"] != null)
        {
            <div id="alert-dialog" class="w-50 m-auto alert alert-danger">@TempData["NotLoggedIn"]</div>
        }
        @if(TempData["LoginToManage"] != null){

            <div id="alert-dialog" class="w-50 m-auto alert alert-danger">@TempData["LoginToManage"]</div>
            TempData["LoginToManae"] = null;
        }
        @if(TempData["LoginToDelete"]!=null){

            <div id="alert-dialog" class="w-50 m-auto alert alert-danger">@TempData["LoginToDelete"]</div>
            TempData["LoginToDelete"] = null;
        }
        <form asp-action="Login" class="w-50 d-flex p-4 rounded-4 flex-column  bg-outline-success px-4 m-auto">

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email </label>
                <input asp-for="Email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input type="password" asp-for="Password" class="form-control" id="password">
            </div>
            <div class="remember-and-asp-forget d-flex justify-content-between">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="remember-user">
                    <label class="form-check-label" for="remember-user">Remember me</label>
                </div>

                <div class="asp-forget-pwd">
                    <p class="fw-semibold">Forget Password?</p>
                </div>

            </div>

            <button type="submit" class="btn btn-success">Sign in</button>
        </form>


    </div>

</div>


<div class="container my-4 py-4 lh-1">
    <h2 class="text-center">Support Us!</h2>

    <div class="w-50 m-auto text-center d-flex me-auto">
        <p class="fs-6 lh-base">Learnify is open-source project initialized as a college project, but it has a lot of
            potential
            asp-for students or anyone who wants to find better resources. Your contribution to maitain this project is
            highly valued in our community.</p>
    </div>

    <div class="buttons d-flex gap-4 justify-content-center">
        <a href="https://github.com/kshetritej/learnify/blob/main/Contribution.md" target="_blank">
            <button class="btn btn-secondary">
                View Contribution.md
            </button></a>

        <a href="https://github.com/kshetritej/learnify" target="_blank">
            <button class="btn btn-success">
                Contribute
            </button>
        </a>
    </div>
</div>
